html {
  height: 100%
}
body {
  background-image: url(images/background1.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
h1 {
  color: #FFFFFF;
  text-align: center;
  text-shadow: 3px 3px red;
  height: 60px;
  font-family: 'Open Sans', 'PT Sans', Helvetica, sans-serif;
  font-style: italic;
  font-size: 200%;
}
#planettbl {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  height: 440px;
  border: 2px solid #FFFFFF;
  border-collapse: collapse;
}
#theadhdr th {
  padding-top: 1px;
  background-color: #9A2617;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;	
  font-family: 'Open Sans', 'PT Sans', Helvetica, sans-serif;
  font-size: 125%;
}
#tbodyinfo th {
  padding-top: 1px;
  background-color: #9A2617;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;	
  font-family: 'Open Sans', 'PT Sans', Helvetica, sans-serif;
}
#tbodyinfo td {
  padding-top: 1px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #9A2617;	
  font-family: 'Open Sans', 'PT Sans', Helvetica, sans-serif;
  font-weight: 700;
}
#earthimg {
  display: block;
  padding: 0 0 0 50px;
  position: relative;
  float: left;
  width: 100px;
}
#marsimg {
  display: block;
  padding: 0 50px 0 0;
  position: relative;
  float: right;
  width: 100px;
}
#saturnimg {
  display: block;
  padding: 0 0 0 50px;
  position: relative;
  float: left;
  width: 100px;
}
#jupiterimg {
  display: block;
  padding: 0 50px 0 0;
  position: relative;
  float: right;
  width: 100px;
}
